body{
  background-color:floralwhite;
  margin:0;
}
p{
  font-family: arial;
  font-size: 1em;
}
#navother,a{
  width:100%;
}
#navother{
  height:5vh;
  display:inline-flex;
  justify-content:space-around;
  text-align:center;
  position:fixed;
  top:0;
}
#homepic,#home{
  background-color:transparent;
}
#home{
  width:-webkit-fill-available;
  height:3.125em;
}
#homepic{
  display:inline;
  width:1em;
  height:1em;
}
#homelink:hover, #about:hover,#solution:hover,#problem:hover,#home:hover{
  background-color:black;
}
#homepic{
  padding-top:1em;
  padding-bottom:1em;
}
#linkv2,#linkm2,#linkh2{
  width:31%;
  height:5%;
}
#Logo,a{
  height:auto;
}
#Logo,#navhome{
  width:100%;
}
a,#about,#solution,#problem{
  font-size:1em;
}
a{
  text-decoration:none;
  color:white;
}
section{
  background:white;
  width:60%;
  margin-left:10%;
  margin-right:10%;
  margin-top:10%;
  margin-bottom: 1em;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top:.1%;
  box-shadow:.2rem .2rem 1.5rem #888888;
}
#Logo{
  padding: 0;
  border: 0;
}
#navhome{
  display:inline-flex;
  justify-content:space-around;
  bottom: 0;
  position: absolute;
  text-align: center;
}
#solution,#problem,#about{
  display:inline-block;
}
#problem,#solution,#about{
  padding-top:1em;
  padding-bottom:1em;
}
#problem,#about{
  background-color:#2f847c;
}
#solution{
  background-color:#306754;
}
#linkv,#linkh,#linkm{
  width:33.33%;
}
iframe,#bilde1,#bilde2{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
}
#bilde1{
  width:20em;
  height:auto;
}
#linksol,#linksurvey,#kilder{
  color:blue;
  text-decoration:underline;
}
#homelink{
  float:left;
  width:7%;
  height:3.125em;
  background:#306754;
}
#bilde2{
  width:60vw;
  height:auto;
}
  #kilder,p{
    text-align:left;
}
.black{
  background-color: black !important;
}
